{% extends "AcademiaApp/base.html" %}

{% load static %}

{% block content %}

<html>
    <body>
        <div style="width: 75%; margin: 20px auto; text-align: center; color: gray; font-size: larger;">
            <a style="color: white">Publicaciones de la categoría {{categoria.nombre}}: &nbsp;&nbsp; </a>
        </div>
        {% for post in posts %}
        <div style="height: 100px;"></div>
        <!-- Imagen y descripcion -->
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-start">
                <div class="col-10 col-lg-7 text-center text-lg-start">
                    <h1 class="text-white mb-4 pb-3 animated slideInDown">{{post.titulo}}</h1>
                    <a href="#" class="btn btn-primary py-3 px-5 animated slideInDown">Leer más<i class="fa fa-arrow-right ms-3"></i></a>
                    <!-- Contenido del menú desplegable -->
                    <div class="dropdown-content">
                        <p class="course-description" style="color: white">
                            Autor: {{post.autor}}<br>
                            Categoría: {{post.categoria}}<br><br>
                            {{post.contenido}}
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                    <img class="img-fluid" src="{{post.imagen.url}}" alt="">
                </div>
            </div>
        </div>
        <!-- Imagen y descripcion End -->  
        
       
        
        {% endfor%}
        <section>
            <div style="width: 75%; margin: 40px auto; text-align: center; color: gray;">
            Categorías:&nbsp;&nbsp; {{categoria.nombre}} &nbsp;&nbsp;
            <a href="{% url 'Blog'  %}" style="color:white"><u>Volver</u></a>
            </div>
        </section>
    </body>
</html>

{% endblock %}